/* ------ common ------  */

body {
  font-family: monospace, sans-serif;
}

.container {
  max-width: 500px;
  margin: auto;
  text-align: center;
}

section {
  padding: 16px;
}

li {
  text-align: left;
  margin-top: 12px;
  padding: 12px;
  border: 2px solid gray;
  background-color: whitesmoke;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
}

li:hover {
  opacity: .7;
}

.hide {
  display: none;
}

/* ------ section.ques ------  */

.ques ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ques li.selected {
  border: 2px solid springgreen;
  background-color: palegreen;
}

#btn {
  width: 160px;
  padding: 16px 32px;
  margin: 64px auto;
  border: 2px solid gray;
  border-radius: 8px;
  background-color: whitesmoke;
  cursor: pointer;
  user-select: none;
}

/* ------ section.result ------  */
.result a {
  text-decoration: none;
}